# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
env/
venv/

# dotenv file
.env

# VSCode settings
.vscode/

# SQLite or local DBs (if any)
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
